#links-rodape a{
    text-decoration: none;
    color: #CBFF58;
}

.descartes-pendentes .desc-pendente {
    background: white;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    color: #0a0a0a;
}
